:root {
  font-size: 1.125em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
}

img {
  max-width: 100%;
}

.logo {
  display: block;
  margin-top: 48px;
  margin-inline: auto;
  margin-bottom: calc(0.0254452926 * 100vw + 44.4580152672px);
}
@media (min-width: 768px) {
  .logo {
    margin-bottom: 64px;
  }
}

header {
  overflow-x: hidden;
}

.hero-img {
  display: block;
  max-width: none;
  width: calc(1.0330788804 * 100vw + 26.5954198473px);
  height: calc(0.3816793893 * 100vw + 9.8702290076px);
  margin-left: calc(-0.0152671756 * 100vw + -14.2748091603px);
  margin-bottom: calc(0.0610687023 * 100vw + 25.0992366412px);
}
@media (min-width: 768px) {
  .hero-img {
    width: 820px;
    height: 303px;
    margin-left: -26px;
    margin-bottom: 72px;
  }
}

main {
  padding-inline: 24px;
}

.top-section {
  position: relative;
  margin-bottom: 3.5555555556rem;
}

.heading {
  font-size: 2.2222222222rem;
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  color: hsl(240deg, 21%, 20%);
  margin-bottom: 0.6em;
  margin-inline: auto;
  max-width: 16.1111111111rem;
}
@media (min-width: 727px) {
  .heading {
    font-size: 2.6666666667rem;
    line-height: 1;
    max-width: 18.8333333333rem;
  }
}

.top__paragraph {
  max-width: 25.3888888889rem;
}

.paragraph {
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 500;
  text-align: center;
  color: hsl(240deg, 10%, 57%);
  margin-inline: auto;
  margin-bottom: 2em;
}

.top__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8888888889rem;
}
@media (min-width: 520px) {
  .top__buttons {
    flex-direction: row;
  }
}

.button {
  display: block;
  border: 0;
  border-radius: 29px;
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 900;
  padding: 1em;
  align-self: center;
  color: white;
  cursor: pointer;
}

.button--big {
  padding-inline: 2.5em;
}

.button--small {
  padding-inline: 1.8125em;
}

.button--color1 {
  background-color: hsl(192deg, 37%, 48%);
  transition: all 0.2s ease-out;
}
.button--color1:hover {
  background-color: hsl(192deg, 54%, 64%);
}

.button--color2 {
  background-color: hsl(268deg, 34%, 53%);
  transition: all 0.2s ease-out;
}
.button--color2:hover {
  background-color: hsl(268deg, 55%, 71%);
}

.button__highlight--color1 {
  color: hsl(192deg, 90%, 77%);
}

.button__highlight--color2 {
  color: hsl(268deg, 100%, 86%);
}

.separator {
  position: relative;
  margin-inline: auto;
  margin-top: calc(0.0407124682 * 100vw + 48.7328244275px);
}
@media (min-width: 768px) {
  .separator {
    margin-top: 80px;
  }
}

.separator__line {
  height: 84px;
  width: 50%;
  border-right: 1px solid hsla(240deg, 10%, 57%, 0.25);
}

.separator__circle {
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 900;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(240deg, 10%, 57%);
  width: 3.1111111111rem;
  aspect-ratio: 1;
  border: 1px solid hsla(240deg, 10%, 57%, 0.25);
  border-radius: 50%;
  text-align: center;
  line-height: 3.5;
  margin: 0 auto;
}

.middle-section {
  margin-bottom: -1.5555555556rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 64px;
  gap: 25px;
}
@media (min-width: 727px) {
  .images {
    gap: calc(-0.3414634146 * 100vw + 273.243902439px);
    margin-bottom: 48px;
  }
}
@media (min-width: 768px) {
  .images {
    gap: 11px;
  }
}

.images__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
@media (min-width: 727px) {
  .images__group {
    gap: calc(-0.3414634146 * 100vw + 273.243902439px);
  }
}
@media (min-width: 768px) {
  .images__group {
    gap: 11px;
  }
}

.images__img {
  max-width: 151px;
  border-radius: 8px;
}
@media (min-width: 727px) {
  .images__img {
    width: calc(0.3170731707 * 100vw + -79.512195122px);
    max-width: 164px;
  }
}

.overline {
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: hsl(192deg, 37%, 48%);
  margin-bottom: 1.5em;
}
@media (min-width: 727px) {
  .overline {
    margin-bottom: 1em;
  }
}

.subheading {
  font-size: 1.7777777778rem;
  line-height: 1.125;
  font-weight: 900;
  text-align: center;
  color: hsl(240deg, 21%, 20%);
  margin-inline: auto;
  margin-bottom: 1em;
  max-width: 18.8888888889rem;
}
@media (min-width: 727px) {
  .subheading {
    font-size: 2.2222222222rem;
    line-height: 1.1;
    max-width: 24.7222222222rem;
    margin-bottom: 0.8em;
  }
}

.middle__paragraph {
  max-width: 31.8333333333rem;
}

.bottom-section {
  position: relative;
  min-height: 428px;
  padding-top: 92px;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-section::after, .bottom-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bottom-section::before {
  background-color: hsl(192deg, 37%, 48%);
}

.bottom-section::after {
  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  opacity: 0.1;
}

.bottom__subheading {
  margin-bottom: 0.75em;
}

.bottom__paragraph {
  margin-inline: 18px;
  max-width: 29.1666666667rem;
}

.bottom__button {
  margin-bottom: 4.5em;
}

.light-text {
  color: hsl(0deg, 0%, 98%);
}

/*# sourceMappingURL=style.css.map */
