@use "variables" as *;
@use "functions" as *;
@use "lerp" as *;
@use "sass:math";

:root {
  font-size: em(18px, 16px);
}

@include reset;

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: color(lotion);
}

img {
  max-width: 100%;
}

.logo {
  display: block;
  margin: {
    top: 48px;
    inline: auto;
    bottom: MTlerp(54px, 64px);
  }
  @media (min-width: $w_tablet) {
    margin-bottom: 64px;
  }
  @media (min-width: $breakpoint2) {
    margin: {
      top: 80px;
      bottom: 61px;
    }
  }
}

.top-section {
  position: relative;
  padding-top: MTlerp(201px, 375px);
  background: {
    image: url("../assets/tablet/image-hero.png");
    repeat: no-repeat;
    size: MTlerp(414px, 820px) MTlerp(153px, 303px);
    position: MTlerp(-20px, -26px) 0;
  }
  margin-bottom: rem(64px);
  @media (min-width: $w_tablet) {
    padding-top: 375px;
    background: {
      size: 820px 303px;
      position: center top;
    }
    margin-bottom: rem(67px);
  }
  @media (min-width: $breakpoint2) {
    padding-top: 47px;
    background: {
      image: url("../assets/desktop/image-hero-left.png"),
        url("../assets/desktop/image-hero-right.png");
      size: 394px 303px, 394px 303px;
      position: rem(-32px) 0, right rem(-32px) top 47px;
    }
    margin-bottom: rem(64px);
  }
}

.heading {
  @include setFont(rem(40px), 44, 900);
  text-align: center;
  color: color(yankees-blue);
  margin: {
    bottom: em(24px, 40px);
    inline: auto;
  }
  max-width: rem(290px);
  @media (min-width: $breakpoint1) {
    @include setFont(rem(48px), 48);
    max-width: rem(339px);
  }
  @media (min-width: $breakpoint2) {
    @include setFont(rem(64px), 64);
    max-width: rem(445px);
    margin-bottom: em(34px, 64px);
  }
}

.top__paragraph {
  max-width: rem(327px);
  @media (min-width: $breakpoint1) {
    max-width: rem(457px);
  }
  @media (min-width: $breakpoint2) {
    max-width: rem(540px);
  }
}

.paragraph {
  @include setFont(rem(16px), 26, 500);
  text-align: center;
  color: color(roman-silver);
  margin-inline: auto;
  margin-bottom: em(32px, 16px);
  @media (min-width: $breakpoint2) {
    @include setFont(rem(18px), 26);
    margin-bottom: em(32px, 18px);
  }
}

.top__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(16px);
  @media (min-width: 520px) {
    flex-direction: row;
  }
}

.button {
  display: block;
  border: 0;
  border-radius: 29px;
  @include setFont(rem(16px), 26, 900);
  padding: em(16px, 16px);
  align-self: center;
  color: white;
  cursor: pointer;
}

.button--big {
  padding-inline: em(40px, 16px);
}

.button--small {
  padding-inline: em(29px, 16px);
}

.button--color1 {
  background-color: color(rackley);
  transition: all 0.2s ease-out;
  &:hover {
    background-color: hsl(192, 54%, 64%);
  }
}

.button--color2 {
  background-color: color(royal-purple);
  transition: all 0.2s ease-out;
  &:hover {
    background-color: hsl(268, 55%, 71%);
  }
}

.button__highlight--color1 {
  color: hsl(192, 90%, 77%);
}

.button__highlight--color2 {
  color: hsl(268, 100%, 86%);
}

.separator {
  position: relative;
  margin-inline: auto;
}

%separator-margin {
  margin-top: MTlerp(64px, 80px);
  @media (min-width: $w_tablet) {
    margin-top: 80px;
  }
}

.separator--1 {
  @extend %separator-margin;
  @media (min-width: $breakpoint2) {
    margin-top: 110px;
  }
}

.separator__line {
  height: 84px;
  width: 50%;
  border-right: 1px solid hsla(240, 10%, 57%, 0.25);
}

.separator__circle {
  @include setFont(rem(16px), 26, 900);
  background-color: color(lotion);
  color: color(roman-silver);
  width: rem(56px);
  aspect-ratio: 1;
  border: 1px solid hsla(240, 10%, 57%, 0.25);
  border-radius: 50%;
  text-align: center;
  line-height: math.div(56, 16);
  margin: 0 auto;
}

.middle-section {
  margin-bottom: rem(-28px);
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 24px;
  margin-bottom: 64px;
  gap: 25px;
  @media (min-width: $breakpoint1) {
    gap: 11px;
    margin-inline: 39px;
    margin-bottom: 48px;
  }
  @media (min-width: $w_tablet) {
    gap: lerp($w_tablet, 11px, $w_desktop, 30px);
    margin-bottom: lerp($w_tablet, 48px, $w_desktop, 80px);
  }
  @media (min-width: $w_desktop) {
    gap: 30px;
    margin-bottom: 80px;
  }
}

.images__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  @media (min-width: $breakpoint1) {
    gap: 11px;
  }
  @media (min-width: $w_tablet) {
    gap: lerp($w_tablet, 11px, $w_desktop, 30px);
  }
}

.images__img {
  max-width: 151px;
  border-radius: 8px;
  @media (min-width: $breakpoint1) {
    max-width: none;
    width: lerp($breakpoint1, 151px, $w_tablet, 164px);
  }
  @media (min-width: $w_tablet) {
    max-width: 255px;
    width: lerp($w_tablet, 164px, $w_desktop, 255px);
  }
}

.overline {
  @include setFont(rem(16px), 26, 900);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: color(rackley);
  margin-bottom: em(24px, 16px);
  @media (min-width: $breakpoint1) {
    margin-bottom: em(16px, 16px);
  }
}

.subheading {
  @include setFont(rem(32px), 36, 900);
  text-align: center;
  color: color(yankees-blue);
  margin-inline: auto;
  margin-bottom: em(32px, 32px);
  max-width: rem(340px);
  @media (min-width: $breakpoint1) {
    @include setFont(rem(40px), 44);
    max-width: rem(445px);
    margin-bottom: em(32px, 40px);
  }
}

.middle__paragraph {
  max-width: rem(327px);
  @media (min-width: $breakpoint1) {
    max-width: rem(573px);
  }
  @media (min-width: $breakpoint2) {
    max-width: rem(540px);
  }
}

.separator--2 {
  @extend %separator-margin;
  @media (min-width: $breakpoint1) {
    margin-top: 72px;
  }
}

.bottom-section {
  position: relative;
  height: rem(428px);
  padding-top: 92px;
  padding-bottom: 72px;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $breakpoint1) {
    padding-bottom: 66px;
  }
  @media (min-width: $breakpoint2) {
    flex-direction: row;
    justify-content: space-between;
    height: rem(308px);
    padding-top: 116px;
    padding-inline: 165px;
    padding-bottom: 104px;
  }
}

%section-layer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bottom-section::before {
  @extend %section-layer;
  background-color: color(rackley);
}

.bottom-section::after {
  @extend %section-layer;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  opacity: 0.1;
  @media (min-width: $breakpoint1) {
    background-image: url("../assets/tablet/image-footer.jpg");
  }
  @media (min-width: $breakpoint2) {
    background-image: url("../assets/desktop/image-footer.jpg");
  }
}

.bottom__subheading {
  margin-bottom: em(24px, 32px);
  @media (min-width: $breakpoint2) {
    max-width: rem(350px);
    text-align: left;
    margin: 0 lerp($breakpoint2, 42px, $w_desktop, 125px) 0 0;
  }
  @media (min-width: $w_desktop) {
    margin-right: 125px;
  }
}

.bottom__paragraph {
  margin-inline: 18px;
  max-width: rem(525px);
  @media (min-width: $breakpoint2) {
    max-width: rem(350px);
    text-align: left;
    margin: 0 lerp($breakpoint2, 55px, $w_desktop, 92px) 0 0;
  }
  @media (min-width: $w_desktop) {
    margin-right: 125px;
  }
}

.light-text {
  color: color(lotion);
}
